.page.theme_light {
  --bg-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --contrast-text-color: #353430;
  --main-title-color: #ffc2e6;
  --main-title-shadow-color: #ff0070;
  --hover-color: rgba(50, 49, 45, 0.4);
  --link-focus-color: #353430;
  --section-title-color: #353430;
  --background-image-url: url(../images/cover-image-light.png);
  --is-decor-visible: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --contrast-text-color: #353430;
    --main-title-color: #ffc2e6;
    --main-title-shadow-color: #ff0070;
    --hover-color: hwb(48 18% 80% / 0.4);
    --link-focus-color: #353430;
    --section-title-color: #353430;
    --background-image-url: url(../images/cover-image-light.png);
    --is-decor-visible: none;
  }
}