:root {
  --rubber-padding: clamp(0.625rem, 0.179rem + 2.23vw, 1.25rem);
  --margin-bottom-header: clamp(2.5rem, 1.307rem + 5.09vw, 3.75rem);
  --margin-top-footer: var(--margin-bottom-header);
  --margin-between-block: clamp(3.125rem, 1.336rem + 7.63vw, 5rem);
}